[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
black = "*"
pylint = "*"
pyserial = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
pymongo = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
